@import url(./reset.css);
@import url(./cabecalho.css);
@import url(./home.css);
@import url(./Sobre.css);
@import url(./projetos.css);
@import url(./contato.css);
@import url(./rodape.css);
@import url(../js/contato.js);
@import url(../js/projeto.js);


:root {
    --fundo-principal: #F5F5F5;
    --rosa: #E9967A;
    --branco: #ffffff;
    --preto: #000000;
    --cinza: #D9D9D9;
    --cinza-escuro: #333333;
    --cinza-medio: #BDBDBD;
    --fonte-principal: "Playfair";
    --fonte-secundaria: "Nunito";
    --font-pequena: "Roboto";

}

body{
    background-color: var(--fundo-principal);
    color: var(--preto);
    

}

h1{
    font-family: "Playfair";
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 5rem;
    text-decoration: underline;
    text-decoration-color: var(--rosa);
}

[data-anime] {
    opacity: 0; 
    transition: .3s;    
    
  }

[data-anime="right"] {
    transform: translate(50px, 0, 0);
  }

  [data-anime="left"] {
    transform: translate(-50px, 0, 0);
  }

[data-anime].animate {
    opacity: 1;
    transform: translate(0px, 0px, 0px);
  }