 .sobre__container{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;

  }


.sobre__img{
  margin: 2rem;
  border-radius: 5rem;
  width: 70%;
}

.sobre__conteudo{
  margin: 0 5rem;
  text-align: justify;
}

.sobre__conteudo-titulo{
  text-align: center;
}

.skils{
  margin-top: 3rem;
}

.skils__titulo{
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Playfair";
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1rem;

}

.skils__lista{
  display: flex;

}

.skils__itens {
  flex: 1; 
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem 0 1rem 0 ;

  
}

.skils__img {
  width: 40%; 
  
}

@media screen and (max-width: 450px) {

  .sobre__container{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;

  }

  .skils__img {
    width: 90%; 
    
  }

  .sobre__foto{
    text-align: center;
  }

}